/* Header CSS */
body {
    margin: 0;
    display: flex;
    flex-direction: column;

}
.header {
    background-color: #1f2937;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 0px 90px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    
}

.header-logo a {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links-right a {
    font-size: 18px;
    color: #e5e7eb;
}

/* First Body Section CSS */

.firstpic img {
    width: 400px;
    height: auto;
    padding: 8px;
}

.body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 180px 45px;
}

.firstp {
    flex: 1;
    max-width: 400px;
}

.firstp h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.firstp p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 32px 8px 32px;
    border: 0;

}